body{
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    max-width: 200px;
}

button{
    min-width: 60px;
}

.results-container, .button-container, .score-container{
    display: flex;
    justify-content: space-around;
    border: 2px solid black;
}


.results-container {
    height: 200px;
    align-items: center;
    font-size: 40px;
}



.player, .computer {
    flex: 1;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
